<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Soccer Players</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
    $('.js-example-basic-single').select2();
    });
    </script>
    <script type = "text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('submit').onclick = function() {
                num = document.getElementById('number').value
                fetch(`/teams/${num}`)
                .then(response => response.text())
                .then(html => {
                    let parser = new DOMParser();
                    let doc = parser.parseFromString(html, 'text/html');
                    let new_body = doc.querySelector('body');
                    let old_body = document.querySelector('body');
                    old_body.replaceWith(new_body);
                    $('.js-example-basic-single').select2();
                });
            }
    });
    </script>
    </head>
    <body>
        <select class="js-example-basic-single" name="number" id="number">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        
        <input type="submit" id="submit">

        <div id="content"></div>
    </body>
</html>