<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Soccer Players</title>
    <script type = "text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('submit').onclick = function() {
                num = document.getElementById('number').value
                console.log(num);
                location.href = 'teams/' + num
            }

    });
    </script>
    </head>
    <body style="background-color: #567d46">
        <ul>
            {% for player in players %}
                <h1 style="margin: auto; width: 20%;">{{ player.name }}</h1>
                <br />
                <img style="display: block; margin-left: auto; margin-right: auto; width:20%;" src="{{ player.image }}">
                <br />
                <br />
            {% endfor %}
        </ul>

    </body>
</html>